body{
    background-color: rgb(242, 242, 227);
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1{
    font-family:'Gill Sans MT';
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

button{
    background-color: rgb(241, 221, 151);
    padding: 8px;
    border: 6px;
    border-color: rgb(181, 114, 33);
    border-radius: 35%;
    border-style: groove;
    font-family:'Gill Sans MT';
}

button1{
    background-color: rgb(241, 221, 151);
    padding: 8px;
    border: 6px;
    border-color: rgb(181, 114, 33);
    border-radius: 35%;
    border-style: groove;
    font-family:'Gill Sans MT';
}

button2{
    background-color: rgb(241, 221, 151);
    padding: 8px;
    border: 6px;
    border-color: rgb(181, 114, 33);
    border-radius: 35%;
    border-style: groove;
    font-family:'Gill Sans MT';
}

img{
    width: 25vw;
    margin-top: 80px;
    margin-left: 37.5vw;
    display: flex;
}

p{
    text-align: center;
}